/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* General Styles */
:root {
  --black: #28231c;
  --footer: #1f1a15;
  --beige: #f4ede3;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "poppins", san-serif;
}
body,
html {
  width: 100%;
  overflow-x: hidden;
}
/* Navigation Bar Styles */
#navigationBar {
  padding-left: 70px;
  padding-right: 70px;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--black);
  z-index: 1000000;
}
.navbarSlide {
  background: var(--black);
  top: 104px;
  right: 0;
  list-style-type: none;
  position: fixed;
  height: 100vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px 30px;
  font-size: 20px;
  transform: translateX(100%); /* Initially off-screen */
  transition: transform 0.3s ease-in-out;
  color: white;
}
.darkOverlay {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  top: 104px;
  left: 0;
  z-index: -100000;
  opacity: 0;
}
.hamburger {
  display: none;
}
.leftArrow {
  transform: rotate(180deg);
}
.navbarSlide > li > a {
  text-decoration: none;
  color: white;
}
.menuButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menuLabel {
  padding-top: 15px;
  text-align: center;
  font-size: 20px;
  margin: 0;
}
.menuLabel > img {
  position: absolute;
  left: 24px;
}
.logo {
  font-size: 28px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: "Pacifico", cursive;
}
.extraLinks {
  display: flex;
  align-items: center;
  gap: 30px;
}
.extraLinks > a {
  color: white;
  text-decoration: none;
}
.book {
  background: #ff4500;
  padding: 15px 30px;
  border-radius: 20px;
  transition: 0.2s;
  margin-left: 100px;
  font-size: 20px;
}
.mobileBook {
  color: white;
  text-decoration: none;
  margin-left: 0 !important;
  width: 200px;
}
.book:hover {
  color: var(--black);
  background: white;
  transition: 0.2s;
}
/* Home Styles */
.video-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100svh;
  transform: translate(-50%, -50%);
  z-index: -1; /* Send video to the back */
  overflow: hidden;
}
.backgroundVideo {
  width: 100%;
  height: 100svh;
  border: none; /* Remove default border */
  object-fit: cover; /* Ensure the video covers the screen */
  transform: scale(1.2);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
  z-index: 0; /* Place overlay above the video */
}
.content {
  position: relative;
  z-index: 1; /* Bring content in front of the video */
  color: white;
  text-align: center;
  padding-top: 60px;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.topSlogan {
  font-size: 50px;
  padding: 20px 0;
}
.secondSlogan {
  font-size: 40px;
}
.bottomSlogan {
  font-weight: 300;
  padding: 20px 0;
}
.homeScreenBook {
  background: white !important;
  color: black;
  width: 300px;
  border-radius: 40px !important;
  transform: scale(1.1);
  margin-top: 40px;
}
/* About Section Styles */
#about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--beige);
  color: #28231c;
  padding: 50px 0;
  margin-bottom: 0;
}
.aboutContentWrapper {
  display: flex;
  margin-top: 50px;
  gap: 100px;
  align-items: center;
}
.aboutPicture {
  height: 505px;
  width: 400px;
}
.aboutPicture2 {
  height: 300px;
  width: 400px;
}
.paragraphs {
  width: 450px;
  color: #3b362f;
  border: 2px solid #3b362f;
  background: transparent;
  padding: 30px;
  border-radius: 40px;
  font-size: 22px;
}
.paragraphs > p {
  padding: 10px;
}
.imagesWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.imagesWrapper > img {
  border-radius: 40px;
}

/* Footer Styles */
footer {
  background: #1f1a15;
  padding: 40px 120px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
footer > div {
  display: flex;
  justify-content: space-around;
}
.socialsWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}
.socialsWrapper > img {
  height: 30px;
  width: 30px;
}
.facebook {
  width: 38px !important;
  height: 35px !important;
}
.footerNavigation,
.textOrCall {
  color: white;
}
.footerNavigation > ul > li {
  list-style-type: none;
  padding: 3px;
}
.footerNavigation > ul > li > a {
  color: white;
  text-decoration: none;
}
.footerNavigation > h1 {
  margin-bottom: 10px;
}
.footerNavigation > h1,
.textOrCall > h1 {
  font-weight: 600;
  text-align: center;
}
.phoneNumber {
  margin-top: 10px;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
.phoneIcon {
  height: 18px;
  width: 15px;
}
.copyright {
  text-align: center;
  color: white;
  font-size: 15px;
  font-weight: 400;
  margin-top: 40px;
}
/* Services Styles */
#Services {
  background: var(--beige);
  padding: 40px;
  border-top: 2px solid #d3d3d3;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.serviceTitle {
  color: #ff5722;
  font-weight: 600;
}
.serviceBigTagline {
  font-size: 45px;
  padding: 20px 0;
  font-weight: 600;
}
.serviceSmallTagline {
  font-size: 16px;
  font-weight: 400;
  width: 700px;
}
.serviceBoxesWrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.serviceBox {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
  background: #ff4500;
  color: var(--beige);
  height: 450px;
  justify-content: center;
  align-items: center;
  width: 600px;
  border-radius: 40px;
  padding-bottom: 20px;
}
.serviceBox > h1 {
  font-size: 28px;
  padding-bottom: 25px;
}
.serviceNormalFont {
  font-size: 20px;
}
.serviceFontSpecial {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  padding: 12px 0;
}
.serviceFontSmall {
  font-size: 15px;
}
.marginBottom20 {
  padding-bottom: 10px;
}
/* We Are Social Videos Section */
#Social {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("socialsBackground.jpg");
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  color: white;
}
.video {
  width: auto;
  height: 500px;
  border-radius: 40px;
  background: black;
}
.socialVideosWrapper {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
/* Locations */
#Locations {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.arrow-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 20px solid black;
}
.routeWrapper {
  display: flex;
  color: var(--black);
  align-items: center;
  gap: 10px;
  align-self: start;
  color: white;
}
.routeWrapper > a {
  text-decoration: none;
  color: var(--black);
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.routeWrapper > h1 {
  font-size: 20px;
}
.locationsTitle {
  margin-top: 40px;
  margin-left: 40px;
  align-self: start;
  color: white;
}
.topLocationSectionWrapper {
  align-self: start;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("grandcanyon.png");
  padding-top: 140px;
  padding-left: 100px;
  width: 100%;
  padding-bottom: 60px;
  border-bottom: 5px solid black;
}
/* Gallery */
.galleryWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  flex-wrap: wrap;
}
.galleryWrapper > img {
  height: 400px;
  width: 400px;
  margin: 30px;
  border-radius: 20px;
}
/* Accordion */
.accordion {
  max-width: 900px;
  margin: 0 auto;
}

.accordion-item {
  margin: 10px 0;
  border-radius: 5px;
  border-bottom: 1px solid grey;
}

.accordion-title {
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between; /* This aligns the + and − on the right */
  align-items: center;
}

.accordion-title h2 {
  margin: 0;
  font-size: 18px;
}

.accordion-icon {
  font-size: 24px; /* Size of the + and − symbols */
  font-weight: bold;
}

.accordion-content-wrapper {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}

.accordion-content {
  padding: 15px;
  background-color: #fff;
  border-top: 1px solid #ddd;
}

.accordion-content p {
  margin: 0;
}

/* FAQ */
.FAQWrapper {
  padding: 40px;
}
/* Media Styles */
@media only screen and (max-width: 1300px) {
  /* Navigation Bar */
  #navigationBar {
    height: 80px;
  }
  .book,
  .extraLinks > a {
    transform: scale(0.8);
  }
  /* Home Page */
  .topSlogan,
  .secondSlogan {
    transform: scale(0.7);
  }
  .homeScreenBook {
    transform: scale(0.9);
    margin-top: 0px;
  }
  .topSlogan {
    width: 1500px;
    padding: 10px 0;
  }
  .backgroundVideo {
    transform: scale(1.5);
  }
  /* Service Styles */
  .serviceBox {
    width: 480px;
    height: 360px;
  }

  .serviceBigTagline {
    font-size: 36px;
  }

  .serviceSmallTagline {
    font-size: 16px;
    width: 560px;
  }

  .serviceBox > h1 {
    font-size: 22.4px;
  }

  .serviceNormalFont {
    font-size: 16px;
  }

  .serviceFontSpecial {
    font-size: 16px;
    padding: 9.6px 0;
  }

  .serviceFontSmall {
    font-size: 12px;
  }

  .marginBottom20 {
    padding-bottom: 8px;
  }
  .topLocationSectionWrapper {
    padding-left: 20px;
  }
  /* Gallery */
  .galleryWrapper > img {
    height: 350px;
    width: 350px;
    margin: 15px;
  }
}
@media only screen and (max-width: 800px) {
  /* Navigation Bar */
  .hamburger {
    display: block;
  }
  .extraLinks > a {
    display: none;
  }
  #navigationBar {
    padding-left: 30px;
    padding-right: 30px;
  }
  .navbarSlide,
  .darkOverlay {
    top: 80px;
  }
  .navbarSlide {
    width: 40%;
  }
  .mobileBook {
    text-align: center;
  }
  /* About Section Styles */
  .aboutContentWrapper {
    gap: 30px;
  }
  .aboutPicture {
    height: 350px;
    width: 300px;
  }
  .aboutPicture2 {
    width: 300px;
    height: 180px;
  }
  .paragraphs {
    font-size: 15px;
    width: 350px;
  }
  /* Footer */
  footer {
    padding: 30px 60px;
  }
  footer > div {
    justify-content: space-between;
    gap: 20px;
  }
  .footerLogo {
    font-size: 20px;
    padding-top: 7px !important;
  }
  /* Service Styles */
  .serviceBox {
    width: 350px;
    height: 420px;
    text-wrap: wrap;
    padding: 0 20px;
  }

  .serviceBigTagline {
    font-size: 29px;
  }

  .serviceSmallTagline {
    font-size: 16px;
    width: 448px;
  }

  .serviceBox > h1 {
    font-size: 19px;
  }

  .serviceNormalFont {
    font-size: 17px;
  }

  .serviceFontSpecial {
    font-size: 17px;
    padding: 8px 0;
  }

  .serviceFontSmall {
    font-size: 15px;
  }

  .marginBottom20 {
    padding-bottom: 6px;
  }
  /* Gallery */
  .galleryWrapper > img {
    height: 300px;
    width: 300px;
    margin: 20px;
  }
}
@media only screen and (max-width: 450px) {
  /* Navigation Bar */
  .navbarSlide {
    width: 80% !important;
  }
  /* Home Screen */
  .content {
    padding-top: 30px;
  }
  .topSlogan,
  .secondSlogan {
    padding: 0 !important;
  }
  .topSlogan {
    font-size: 40px;
    width: auto;
  }
  .secondSlogan {
    font-size: 30px;
  }
  .backgroundVideo {
    transform: scale(3.7);
  }
  .homeScreenBook {
    transform: scale(0.7);
    width: 200px;
  }
  /* About Section */
  .aboutContentWrapper {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .aboutTitle {
    font-size: 23px;
  }
  /* Footer */
  footer > div {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
  }
  footer > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footerLogo {
    font-size: 20px;
  }
  /* Service Styles */
  #Services {
    padding: 15px;
  }
  .serviceTitle {
    font-size: 23px;
  }
  .serviceBox > h1 {
    font-size: 21px;
  }
  .serviceBigTagline {
    font-size: 27px;
  }
  .serviceSmallTagline {
    text-wrap: wrap;
    width: 280px;
  }
  .serviceBoxesWrapper {
    flex-direction: column;
  }
  .serviceBox {
    width: 95%;
    height: 450px;
  }
  .serviceNormalFont {
    font-size: 16px;
  }
  /* Location Styles */
  .locationsTitle {
    font-size: 24px;
    margin-left: 0;
  }
  .routeWrapper > h1,
  .routeWrapper > a {
    font-size: 17px;
  }
}
@media only screen and (max-width: 350px) {
  /* Footer Styles */
  .textOrCall > h1,
  .footerNavigation > h1 {
    font-size: 20px;
  }
  /* Service Styles */
  .serviceBox {
    height: 470px;
  }
}
